bookmarks
.recentf
auto-save-list/
elpa/
network-security.data
projectile*
semanticdb/
srecode-map.el
irony/*
.local
.cache
games
.lsp-session*
transient/
custom.el
.backups/*
lsp-cache/
url/
.dap-breakpoints 
